---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="alecwooding.com">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Alec Wooding</h1>
    <p class="mb-8">
        <a href="/AlecWoodingResume.pdf" class="btn btn-lg btn-primary sm:btn-wide">Resume</a>
    </p>
</Layout>
